{
  "presets": [
    ["@babel/env", {
      "targets": {
        "electron": "2.0.17"
      },
      "corejs": "3.6.4",
      "useBuiltIns": "usage"
    }],
    ["@babel/preset-typescript", {
      "isTSX": true,
      "allExtensions": true
    }],
    "@babel/react"
  ],
  "plugins": [
    "@babel/syntax-dynamic-import",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}
