{
  "extends": [
    "standard",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/prop-types": "off",
    "react/jsx-no-target-blank": "off"
  },
  "env": {
    "browser": true,
    "worker": true,
    "jest": true
  }
}