{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "standard-with-typescript"
  ],
  "plugins": [
    "@typescript-eslint",
    "react",
    "jsdoc"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    },
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/default-param-last": 0,
    "@typescript-eslint/member-delimiter-style": [2, {
      "multiline": {
        "delimiter": "none",
        "requireLast": false
      },
      "singleline": {
        "delimiter": "comma",
        "requireLast": false
      },
      "overrides": {
        "typeLiteral": {
          "multiline": {
            "delimiter": "comma",
            "requireLast": true
          }
        }
      }
    }],
    "@typescript-eslint/no-empty-function": 1,
    "@typescript-eslint/no-floating-promises": 1,
    "@typescript-eslint/no-misused-promises": 1,
    "@typescript-eslint/no-non-null-assertion": 1,
    "@typescript-eslint/prefer-nullish-coalescing": 1,
    "@typescript-eslint/promise-function-async": 0,
    "@typescript-eslint/restrict-plus-operands": 1,
    "@typescript-eslint/restrict-template-expressions": 0,
    "@typescript-eslint/strict-boolean-expressions": 0,
    "max-len": [2, { "code": 120 }],
    "no-case-declarations": 0,
    "no-empty": [2, { "allowEmptyCatch": true }],
    "no-unused-vars": 1,
    "react/prop-types": 0,
    "react/jsx-no-target-blank": 0,
    "jsdoc/check-param-names": 1,
    "jsdoc/check-tag-names": 1,
    "jsdoc/check-types": 1,
    "jsdoc/newline-after-description": 1,
    "jsdoc/require-hyphen-before-param-description": 1,
    "jsdoc/require-param": 1,
    "jsdoc/require-param-description": 1,
    "jsdoc/require-param-name": 1,
    "jsdoc/require-param-type": 1,
    "jsdoc/require-returns-description": 1,
    "jsdoc/require-returns-type": 1
  },
  "env": {
    "browser": true,
    "worker": true,
    "jest": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}