.credentials
/.idea/
/node_modules/
/build/*
#!/build/patches/
!/build/winprocess/
!/build/img/
!/build/styles/
/build/styles/renderer.*
!/build/winprocess.node
!/build/processlist.node
/release/
yarn-error.log
