<?xml version="1.0"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <LastIp>smmdb.ddns.net</LastIp>
  <LastPort>3678</LastPort>
  <Username>Tarnadas</Username>
  <LastCharacter>1</LastCharacter>
  <LastEmulator>0</LastEmulator>
</Settings>