<?xml version="1.0"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <LastIp>127.0.0.1</LastIp>
  <LastPort>8080</LastPort>
  <Username>HeHasNoGrace</Username>
  <LastCharacter>0</LastCharacter>
  <LastEmulator>0</LastEmulator>
</Settings>