.host-form {
  width: 100%;
  padding: 0 40px 20px 40px;
  font-size: 16px;
  flex: 1 1 auto;
  overflow-y: auto;

  &-field {
    font-size: 16px;

    * {
      font-size: 16px;
    }
  }

  &-wrapper {
    display: flex;

    > * {
      flex: 1 0 200px;
      min-width: 40%;
      margin: 0.8rem 1rem;
    }

    > *:not(:last-child) {
      padding-right: 1rem;
    }

    > *:not(:first-child) {
      padding-left: 1rem;
    }
  }

  &-description {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 0.8rem 1rem;
  }

  input:not([type=checkbox]), textarea {
    width: 100%;
  }

  input[type=checkbox] {
    width: 18px;
    height: 18px;
  }

  textarea {
    flex: 1 0 auto;
    resize: none;
  }

  &-button {
    width: 100%;
  }
}
