.host-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-form {
    display: flex;
    align-items: flex-start;
    flex: 1 1 auto;      
  }

  &-new-version {
    
  }
}
