.net64-server-panel {
  font-size: 18px;
  margin: 10px 0;

  &-header {
    width: 100%;
    padding: 6px 12px;
    background-color: #fff8af;
    border-radius: 6px;
    border: 4px solid #f8ca00;
    box-shadow: 0 0 0 4px black;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;

    &-gamemode {
      height: 18px;
      width: 36px;

      & > img {
        height: 100%;
      }
    }
  }

  &-description {
    &-inactive {
      display: none;
    }

    &-toggle {
      display: flex;
      align-items: center;
      min-width: 24px;
      max-width: 24px;
      min-height: 50px;
      max-height: 100%;
      cursor: pointer;
      border-radius: 4px;
      background-color: rgba(255,255,255,0.1);
  
      & > img {
        transition: 0.3s linear transform;
      }
      &-inactive > img {
        transform: rotate(180deg);
      }
  
      &:hover {
        background-color: rgba(255,255,255,0.3);
      }
    }
  }

  &-player {
    display: flex;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
  }
}
