.radar-panel {
  min-width: 180px;
  max-width: 180px;
  min-height: 180px;
  max-height: 180px;

  &-icon {
    max-width: 100%;
    max-height: 100%;

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: visible;
      border-radius: 50%;
      position: absolute;
      background-color: rgba(160, 70, 70, 0.7);
    }
  }

  &-label {
    position: absolute;
    margin-top: 16px;
    font-size: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4)    ;
    white-space: pre;
  }
}
