.warning-panel {
  color: #a00003;
  display: flex;
  align-items: center;
  justify-content: center;

  &-wrapper {
    display: flex;
    justify-content: center;
    margin: 0 20px;
    font-size: 18px;
    width: calc(100% - 40px);
  }

  & img {
    height: 30px;
    margin-right: 20px;
  }
}